.about {
  margin: 60px 0;
  padding: 80px 30px;
  &-title {
    &-name {
      bottom: 40%;
      left: 12%;
      &:after {
        right: -120%;
        top: 50%;
      }
    }
  }
  &-company {
    width: 855px;
    background: #ffffff;
    border-radius: 12px;
    padding: 30px 40px 70px;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    color: #242424;
    margin-top: 32px;
  }
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  &-item {
    width: 420px;
    background: #ffffff;
    border-radius: 12px;
    margin-top: 16px;
    padding: 36px 0 64px 48px;
  }
  &-title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 26px;
    color: #242424;
  }
  &-descr {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #828282;
  }
}
