.popular {
  margin: 60px 0;
  padding: 80px 30px;
  &-title {
    &-name {
      bottom: 40%;
      left: 22%;
      &:after {
        right: -57%;
        top: 50%;
      }
    }
  }
}

/* Swiper in the section Popular categories */
.swiper {
  padding: 32px 16px;
  &-wrapper {
    &-popular {
      justify-content: flex-start;
      align-items: center;
    }
  }
  &-slide {
    &-1 {
      margin-right: 35px;
    }
    &-pop {
      /*       width: 270px; */
      border-radius: 12px;
      &-card {
        width: 70%;
        display: block;
        margin: 0 auto;
      }
    }
    &-card {
      margin-left: 0.6rem;
      background-color: #fff;
      border-radius: 12px;
      h4 {
        display: inline-block;
        text-align: left;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #242424;
        margin-left: 1em;
        margin-top: 1em;
      }
      p {
        display: inline-block;
        text-align: left;
        font-size: 15px;
        line-height: 18px;
        color: #828282;
        margin-left: 1em;
      }
      .recommend {
        padding: 4px;
        text-transform: uppercase;
        left: 5%;
      }
    }
  }
  &-card {
    height: 288px;
    width: 270px;
    background-color: #fff;
    border-radius: 12px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #828282;
  outline: none;
  &:after {
    content: "";
    display: none;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 19px;
}
